h5 {
  color: blue;
}
.Linus {
  background-color: whitesmoke;
}
.Bobby {
  background-color: white;
}
#University #Finnish #University-of-Michigan {
  text-align: center;
  font-style: italic;
}
.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.circular--portrait img {
  width: 100%;
  height: auto;
}
